<form action="/favourites" method="post">
    <button type="submit" class="bg-green-500 p-1 rounded-sm cursor-pointer">
      Add to Favourite
    </button>
    <input type="hidden" name="id" value="<%= home.id %>" />
</form>
