<header class="flex items-center justify-between p-6 bg-white shadow-md">
  <a href="/" class="text-3xl font-bold text-red-600">Airbnb</a>
  <nav class="container mx-auto flex justify-end text-xl">
    <ul class="flex space-x-6 text-red-600">
      <li>
        <a href="/homes">Homes-List</a>
      </li>
      <li>
        <a href="/favourites">Favourites</a>
      </li>
      <li>
        <a href="/bookings">Bookings</a>
      </li>
      <li>
        <a href="/host/host-home-list">Host Homes</a>
      </li>
      <li>
        <a href="/host/add-home">Add Home</a>
      </li>
    </ul>
  </nav>
</header>
